################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DbEntities/obj
/Interview/bin/Debug/net5.0
/Interview/obj/Debug/net5.0
/InterviewContracts/obj/Debug/net5.0
/Interview/obj/Release/net5.0
/Interview/obj/project.nuget.cache
/Interview/obj/project.assets.json
/Interview/obj/Interview.csproj.nuget.g.targets
/Interview/obj/Interview.csproj.nuget.g.props
/Interview/obj/Interview.csproj.nuget.dgspec.json
/InterviewImplementation/obj/Release/net5.0
/InterviewImplementation/obj/project.assets.json
/InterviewImplementation/obj/InterviewImplementation.csproj.nuget.g.targets
/InterviewImplementation/obj/InterviewImplementation.csproj.nuget.g.props
/InterviewImplementation/obj/InterviewImplementation.csproj.nuget.dgspec.json
/InterviewImplementation/obj/Debug/net5.0
/InterviewContracts/obj/Release/net5.0
/Models/obj
/Models/bin/Debug/net5.0
/InterviewImplementation/obj/project.nuget.cache
/InterviewContracts/obj/project.nuget.cache
/InterviewContracts/obj/project.assets.json
/InterviewContracts/obj/InterviewContracts.csproj.nuget.g.targets
/InterviewContracts/obj/InterviewContracts.csproj.nuget.g.props
/InterviewContracts/obj/InterviewContracts.csproj.nuget.dgspec.json
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/QuestionsForInterviews/v16/.suo
/.vs/QuestionsForInterviews/v16
/.vs/Interview/v16
/.vs/Interview/config/applicationhost.config
