@model LogInViewModel
<div class="middleEl">  
        <form asp-action="LogIn" asp-controller="LogIn">
            <div class="form-group">
                <label asp-for="Email" style="color:black">Имейл</label>
                <br />
                <span asp-validation-for="Email"></span>

                <input asp-for="Email">
            </div>
            <div class="form-group lg">
                <label asp-for="Password" style="color:black">Парола</label>
                <br />
                <span asp-validation-for="Password"></span>

                <input asp-for="Password">
            </div>
            <div class="form-group lg">
                <a asp-action="Register" asp-controller="LogIn">Регистрирай се</a>
            </div>
            <div class="form-group lg">
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-lg">Вход</button>
                </div>
                
            </div>
            
        </form>
        
   
    
</div>
    


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
