@model Interview.Models.AuthenticationModels.RegisterViewModel

@{
    ViewData["Title"] = "View";

}
<div>
    <div>
        
            @if (!this.User.Identity.IsAuthenticated)
            {
                <div>
                    <form asp-action="Register" asp-controller="LogIn">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label">Имейл: </label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label">Парола: </label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="RepeatPassword" class="control-label">Повтори парола: </label>
                            <input asp-for="RepeatPassword" class="form-control" />
                            <span asp-validation-for="RepeatPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Регистрирай ме" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            }
        
    </div>

    
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
