@model GenerateTestViewModel
<div id="test">
    <div class="row">
        <div class="col-sm-3 mt-3 ml-4">
            <select id="language" class="custom-select" asp-for="Language" asp-items="Model.Languages" required></select>
        </div>
        <div class="col-sm-3 mt-3">
            <select id="rank" class="custom-select" asp-for="Level" asp-items="Model.Levels" required></select>
        </div>
        <div class="col-sm-3 mt-3">
            <select id="question" class="custom-select" asp-for="Question" asp-items="Model.NumberOfQuestions" required></select>
        </div>
        <div class="col-sm mt-3">
            <btn id="generate-btn" class="btn btn-info">Генерирай тест</btn>             
        </div>
    </div>
    <div id="test-body">
        <div id="test-header">
            <div id="questionNumber">
                <div class="align-content-center">
                    <div class="ml-2">
                        Въпрос : <span>1</span>
                    </div>
                </div>

            </div>
            <div id="questionTime">
                <div class="align-content-center">
                    <div class="ml-2">
                        Време : <span>1</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="test-main">
            <div>
                <h4 id="questionTitle">Описание на въпроса</h4>
            </div>
            <div>
                <ol class="list-group list-group-numbered">
                    <li class="list-group-item" style="border-color:red;"><span>1.</span> Първи въпрос</li>
                    <li class="list-group-item" style="border-color:blue;"><span>2.</span> Втори въпрос</li>
                    <li class="list-group-item" style="border-color:green;"><span>3.</span> Трети въпрос</li>
                    <li class="list-group-item" style="border-color:purple;"><span>4.</span> Четвърти въпрос</li>
                </ol>
            </div>
        </div>
        <div id="test-footer">
            <btn href="#" class="btn btn-success">Напред</btn>
        </div>
    </div>
</div>
<script>
    $('#generate-btn').click(function() {
        var language = $('#language').val();
        var rank = $('#rank').val();
        var questions = $('#question').val();
        if(language == null){
            alert('Езика е задължително поле');
            return;
        }
        if(rank == null){
            alert('Нивото е задължително поле');
            return;
        }
        if(question == null){
            alert('Броят въпроси е задължително поле');
            return;
        }

        $.get(`GenerateTest?Language=${language}&&Rank=${rank}&&Questions=${questions}`, function(data){
            console.log(data);
        });
    })
</script>
